{% extends 'base.html' %}
{%block titulo%}
  Inicio
{%endblock titulo%}

{%block contenido%}

    <h1 class="texto">Veteriango</h1>
 
<main>   
  <div class="contain">
      <div class="card">
        {% load static %}
        <img class="card-img-top" src= "{% static 'veterinaria/img/gato/gatito6.png' %}" alt="">
        <div class="card-body">
          <h5 class="card-title">Gatos {{hoy}} </h5>
          <p class="card-text">Toda la información que tenés que saber sobre tu michi</p>
        </div>
        </div>
      <div class="card">
        {%load static%}
        <img class="card-img-top" src="{% static 'veterinaria/img/pajaros/pajarito.jpg' %}" alt="">
        <div class="card-body">
          <h5 class="card-title">Aves</h5>
          <p class="card-text">Si encontraste un ave lastimada, te damos toda la información para su cuidado o a quiénes debés recurrir en estos casos de emergencia</p>
        </div>
        </div>
      <div class="card">
        {%load static%}
        <img class="card-img-top" src="{% static 'veterinaria/img/perro/perrito.jpeg' %}" alt="">
        <div class="card-body">
          <h5 class="card-title">Perros</h5>
          <p class="card-text">Todo lo que debés saber sobre tu fiel amigo para una vida plena</p>
    

        </div>
      </div>
    </div>
<div class="oda">
  <h3 >ODA AL GATO </h3>
  <p>	
    Los animales fueron <br>
    imperfectos, <br>
    largos de cola, tristes <br>
    de cabeza. <br>
    Poco a poco se fueron <br>
    componiendo, <br>
    haciéndose paisaje, <br>
    adquiriendo lunares, gracia, vuelo. <br>
    El gato, <br>
    sólo el gato <br>
    apareció completo <br>
    y orgulloso: <br>
    nació completamente terminado, <br>
    camina solo y sabe lo que quiere. <br><br>
    
    El hombre quiere ser pescado y pájaro, <br>
    la serpiente quisiera tener alas, <br>
    el perro es un león desorientado, <br>
    el ingeniero quiere ser poeta, <br>
    la mosca estudia para golondrina, <br>
    el poeta trata de imitar la mosca, <br>
    pero el gato <br>
    quiere ser sólo gato <br>
    y todo gato es gato <br>
    desde bigote a cola, <br>
    desde presentimiento a rata viva, <br>
    desde la noche hasta sus ojos de oro. <br><br>
    
    No hay unidad <br>
    como él, <br>
    no tienen <br>
    la luna ni la flor <br>
    tal contextura: <br>
    es una sola cosa <br>
    como el sol o el topacio, <br>
    y la elástica línea en su contorno <br>
    firme y sutil es como <br>
    la línea de la proa de una nave. <br>
    Sus ojos amarillos <br>
    dejaron una sola <br>
    ranura <br>
    para echar las monedas de la noche. <br><br>
    
    Oh pequeño <br>
    emperador sin orbe, <br>
    conquistador sin patria,<br>
    mínimo tigre de salón, nupcial <br>
    sultán del cielo <br>
    de las tejas eróticas, <br>
    el viento del amor <br>
    en la intemperie <br>
    reclamas <br>
    cuando pasas <br>
    y posas <br>
    cuatro pies delicados <br>
    en el suelo, <br>
    oliendo, <br>
    desconfiando <br>
    de todo lo terrestre, <br>
    porque todo <br>
    es inmundo <br>
    para el inmaculado pie del gato. <br> <br>
    
    Oh fiera independiente <br>
    de la casa, arrogante <br>
    vestigio de la noche, <br>
    perezoso, gimnástico <br>
    y ajeno, <br>
    profundísimo gato, <br>
    policía secreta <br>
    de las habitaciones, <br>
    insignia <br>
    de un <br>
    desaparecido terciopelo, <br>
    seguramente no hay <br>
    enigma <br>
    en tu manera, <br>
    tal vez no eres misterio, <br>
    todo el mundo te sabe y perteneces <br>
    al habitante menos misterioso, <br>
    tal vez todos lo creen, <br>
    todos se creen dueños, <br>
    propietarios, tíos <br>
    de gatos, compañeros, <br>
    colegas, <br>
    discípulos o amigos <br>
    de su gato. <br>
    <br>
    Yo no. <br>
    Yo no suscribo. <br>
    Yo no conozco al gato. <br>
    Todo lo sé, la vida y su archipiélago, <br>
    el mar y la ciudad incalculable, <br>
    la botánica,<br>
    el gineceo con sus extravíos, <br>
    el por y el menos de la matemática,<br>
    los embudos volcánicos del mundo,<br>
    la cáscara irreal del cocodrilo,<br>
    la bondad ignorada del bombero,<br>
    el atavismo azul del sacerdote,<br>
    pero no puedo descifrar un gato. <br>
    Mi razón resbaló en su indiferencia, <br>
    sus ojos tienen números de oro.</p>
  </div>

 
    



  </main>
</body>

{%endblock contenido%}
